<div class="input-bar-wrapper">
  <!-- Message d'erreur limite atteinte -->
  <div class="max-messages-warning" *ngIf="maxMessagesReached">
    <mat-icon class="warning-icon">warning</mat-icon>
    <span>Limite de conversation atteinte. Veuillez démarrer une nouvelle conversation pour continuer.</span>
  </div>

  <!-- Options de génération -->
  <div class="chart-option" *ngIf="!maxMessagesReached">
    <label class="chart-checkbox-wrapper">
      <mat-checkbox
        [(ngModel)]="isExplanationDemanded"
        [disabled]="isInputDisabled"
        matTooltip="Génère une explication détaillée de la réponse"
      >
        Générer une explication
      </mat-checkbox>
      <mat-icon class="chart-icon">info</mat-icon>
    </label>

    <label class="chart-checkbox-wrapper">
      <mat-checkbox
        [(ngModel)]="isChartDemanded"
        [disabled]="isInputDisabled"
        matTooltip="Génère un graphique interactif si les données le permettent"
      >
        Générer un graphique
      </mat-checkbox>
      <mat-icon class="chart-icon">show_chart</mat-icon>
    </label>
  </div>

  <div class="input-bar-container">
    <div class="input-wrapper">
      <input
        type="text"
        class="question-input"
        [(ngModel)]="question"
        (keypress)="onKeyPress($event)"
        [disabled]="isInputDisabled"
        placeholder="Posez votre question"
      />
      <button
        mat-icon-button
        class="mic-button"
        matTooltip="Enregistrement vocal"
        [disabled]="isInputDisabled"
      >
        <mat-icon>mic</mat-icon>
      </button>
    </div>

    <button
      mat-icon-button
      (click)="onSend()"
      [disabled]="!question.trim() || isInputDisabled"
      class="send-button"
    >
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
